

@using Ineval.Models.Filters
@using MvcJqGrid
@using MvcJqGrid.Enums
@using RP.Website.Helpers
@model Ineval.Dto.DatosMapboxAPIKEYViewModel
@{
    //Layout = "~/Views/Shared/_Master.cshtml";
}


<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row mx-0">
            <div class="col-xl-7 col-7 d-flex align-items-center pl-0">
                <h5 class="content-header-title float-left pl-1">@ViewBag.Title &nbsp;</h5>
                <div class="breadcrumb-wrapper col-9">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a href="/"><i class="bx bx-home-alt"></i></a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-5 col-5 px-0 pt-xl-0 pt-1">
                <button type="button" class="btn btn-success glow invoice-create float-right mr-1" data-toggle="modal" data-target="#mapbox-modal" role="button" aria-pressed="true">
                    <i class='bx bx-folder-plus' data-toggle="tooltip" data-placement="top" title="" data-original-title="Nuevo" aria-describedby="tooltip273063"></i>
                </button>

            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section class="admission-list-wrapper">
        <div class="admission-list-filter px-1">

            <div class="row border-div-simec py-2 mb-2">
                <div class="col-12  col-sm-12 col-lg-12 ">
                    @{
                        Html.RenderPartial("_filtersPartial", new ModelFilter { FormId = "search_form", GridId = "mapbox-grid", FieldFilters = ViewBag.Filters });
                    }
                    @(Html.MyjqGrid("mapbox-grid", Ineval.Common.Context.PageSize)
                        .AddColumn(new Column("Code").SetLabel("Email").SetSortable(true).SetAlign(Align.Center))
                        .AddColumn(new Column("Description").SetLabel("Email Contraseña").SetSortable(true).SetAlign(Align.Center))
                        .AddColumn(new Column("ApiKey").SetLabel("ApiKye").SetSortable(true).SetAlign(Align.Center))
                        .AddColumn(new Column("NumeroMaximoConsulta").SetLabel("Número Maximo Consulta").SetSortable(true).SetAlign(Align.Center))
                        .AddColumn(new Column("NumeroMininoConsulta").SetLabel("Número Minino Consulta").SetSortable(true).SetAlign(Align.Center))
                        .AddColumn(new Column("NumeroUsadasConsultas").SetLabel("Número Usadas Consultas").SetSortable(true).SetAlign(Align.Center))
                        .AddColumn(new Column("Actions").SetFixedWidth(true).SetWidth(80).SetLabel("</br>").SetSortable(false))
                        .SetUrl(Url.Action("GetList")))
                    <div class="clearfix">
                        @Html.PaginationBtn("mapbox-grid", "pull-right")
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade text-left" id="mapbox-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel160" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title white" id="myModalLabel160">@ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <form role="form" class="modal-Crud" action='@Url.Action("Save")' data-modal="mapbox-modal" data-grid="mapbox-grid">
                <div class="modal-body">
                    @Html.HiddenFor(x => x.Id)
                    <div class="form-group ">
                        @Html.LabelFor(x => x.Code)
                        @Html.TextBoxFor(x => x.Code, new { @class = "form-control", placeholder = "Email Principal" })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Description)
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Email Password" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.APIKEY)
                        @Html.TextBoxFor(x => x.APIKEY, new { @class = "form-control", placeholder = "ApiKey" })
                        @Html.ValidationMessageFor(model => model.APIKEY, "", new { @class = "text-danger" })
                    </div>                    
                    <div class="form-group">
                        @Html.LabelFor(x => x.NumeroMaximoConsulta)
                        @Html.TextBoxFor(x => x.NumeroMaximoConsulta, new { @class = "form-control", placeholder = "Número Maximo de Consultas" })
                        @Html.ValidationMessageFor(model => model.NumeroMaximoConsulta, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.NumeroMininoConsulta)
                        @Html.TextBoxFor(x => x.NumeroMininoConsulta, new { @class = "form-control", placeholder = "Numero Minimo de Consultas" })
                        @Html.ValidationMessageFor(model => model.NumeroMininoConsulta, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger glow" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Cerrar</span>
                    </button>
                    <button type="submit" class="btn btn-primary glow ml-1">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Guardar</span>
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" language="javascript" src="~/Scripts/Pages/core/configuration/MapboxApiKey.js"></script>
    <script type="text/javascript" language="javascript">
        urlProvince = "@Url.Action("GetValues", "Province")";
    </script>
}